# JWT
JWT_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# 30 days, only for testing
JWT_EXPIRES_IN=30d
JWT_EXPIRES_IN_SEC=2592000

# database
DB_HOST=YOUR_DB_HOST
DB_PORT=3306
DB_DATABASE=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DB_USERNAME=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DB_PASSWORD='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
# DO NOT SET TO TRUE IN PRODUCTION!
DB_SYNC=false

# redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
# No password, leave blank
REDIS_PASSWORD=
REDIS_DB=5

# socket message
MAX_RETRY_COUNT=3
RETRY_INTERVAL=1000

# oss, not used now
OSS_ACCESS_KEY_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OSS_ACCESS_KEY_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx